# Python Caches (Generated automatically when you run src/app.py or cli/terminal_version.py)
__pycache__/
*.pyc

# Virtual Environment (Matches your local .venv folder)
.venv/

# PyInstaller build artifacts
build/
dist/
*.spec